//order: first modifications then elements
//Theme layer
.theme {
  &_color {
    &_project-default {
      //Значения фонов блоков:
      --block-background-color-main: #ffffff;
      --block-background-color-main-hover: #e1e1e1;
      --block-background-color-highlighted: #ffcc00;
      --block-background-color-border: #000000;
      //Значения состояний текста:
      --text-color-main: #000000;
      --text-color-secondary: rgba(0, 0, 0, 0.6);
      --text-color-additional: rgba(0, 0, 0, 0.3);
      --text-color-link: #0077ff;
    }

    &_project-brand {
      //Значения фонов блоков:
      --block-background-color-main: #0077ff;
      --block-background-color-main-hover: #0073e1;
      --block-background-color-highlighted: #FFFFFF;
      --block-background-color-border: #FFFFFF;
      //Значения состояний текста:
      --text-color-main: #FFFFFF;
      --text-color-secondary: rgba(255, 255, 255, 0.6);
      --text-color-additional: rgba(255, 255, 255, 0.3);
      --text-color-link: #FFFFFF;
    }

    &_project-inverse {
      //Значения фонов блоков:
      --block-background-color-main: #000000;
      --block-background-color-main-hover: #1e1e1e;
      --block-background-color-highlighted: #FFFFFF;
      --block-background-color-border: #FFFFFF;
      //Значения состояний текста:
      --text-color-main: #FFFFFF;
      --text-color-secondary: rgba(255, 255, 255, 0.6);
      --text-color-additional: rgba(255, 255, 255, 0.3);
      --text-color-link: #0077ff;
    }

    &_project-warning {
      //Значения фонов блоков:
      --block-background-color-main: #ff3333;;
      --block-background-color-main-hover: #E12D2D;
      --block-background-color-highlighted: #FFFFFF;
      --block-background-color-border: #ff3333;
      //Значения состояний текста:
      --text-color-main: #FFFFFF;
      --text-color-secondary: rgba(255, 255, 255, 0.6);
      --text-color-additional: rgba(255, 255, 255, 0.3);
      --text-color-link: #FFF;
    }
  }

  &_size {
    &_default {
      //Значения размеров высоты текста (так как в задании текст в виде линий):
      --text-height-s: 8px;
      --text-height-m: 10px;
      --text-height-l: 11px;
      --text-height-xl: 13px;
      --text-height-xxl: 16px;

      //Значения межстрочных интервалов:
      --text-line-space-s: 21px;
      --text-line-space-m: 25px;
      --text-line-space-l: 28px;
      --text-line-space-xl: 34px;
      --text-line-space-xxl: 38px;
    }
  }

  &_space {
    &_default {
      //Пример размеров отступов:
      --space-xxxs: 3px;
      --space-xxs: 6px;
      --space-xs: 9px;
      --space-s: 15px;
      --space-m: 18px;
      --space-l: 24px;
      --space-xl: 27px;
      --space-xxl: 36px;
      --space-xxxl: 45px;
      --space-xxxxl: 51px;
      --space-xxxxxl: 72px;
    }
  }

  //На экране с размером меньше 1024px все блоки должны перестроиться один под другим.
  --breakpoint: 1024px;

  &_gap_small {
    --gap-size: var(--space-s, 15px);
    @media (min-width: 1024px) {
      --gap-size: var(--space-xl, 27px);
    }
  }
}

//frame layer
.layout {
  width: 100%;

  &__container {
    background-color: var(--block-background-color-main);

    &_align {
      &_center {
        //  Выравнивание контейнера по горизонтали
        margin-left: auto;
        margin-right: auto;
      }
    }

    &_size {
      //Максимальная ширина контейнера
      &_s {
        max-width: 920px;
      }

      &_m {
        max-width: 1280px;
      }
    }

    &_space-v {
      &_xxxxl {
        padding-top: var(--space-xxxxl, 51px);
        padding-bottom: var(--space-xxxxl, 51px);
      }

      &_xxxxxl {
        padding-top: var(--space-xxxxxl, 72px);
        padding-bottom: var(--space-xxxxxl, 72px);
      }
    }

    &_indent-b {
      &_xxl {
        margin-bottom: var(--space-xxl, 36px);
      }

      &_xxxxl {
        margin-bottom: var(--space-xxxxl, 51px);
      }
    }
  }
}

.grid {
  display: grid;
  width: 100%;

  &_m-columns {
    //todo: understand what is required. screen-m, screen width, 1024... ???
    //Ширина экрана screen-m совпадает с шириной брейкпойнта и равна 1024px.
    //Количество возможных колонок при ширине экрана screen-m
    &_12 {
      //col start is name of the column - see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout
      grid-template-columns: repeat(12, 1fr);
    }

    &_10 {
      grid-template-columns: repeat(10, 1fr);
    }

  }

  &_col-gap {
    //todo: check that this works as expected
    //  Отступ между колонками
    &_two-thirds {
      grid-column-gap: calc(var(--gap-size) * 2 / 3);
    }

    &_full {
      grid-column-gap: var(--gap-size);
    }

    &_half {
      grid-column-gap: calc(var(--gap-size) / 2);
    }
  }

  &_row-gap {
    //Отступ между строками
    &_full {
      grid-row-gap: var(--gap-size);
    }

    &_half {
      grid-row-gap: calc(var(--gap-size) / 2);
    }

  }

  &__fraction {
    //  Колоночный элемент c шириной в несколько колонок
    display: grid;

    &_m-col {
      &_2 {
        grid-column: span 2;
      }

      &_3 {
        grid-column: span 3;
      }

      &_4 {
        grid-column: span 4;
      }

      &_5 {
        grid-column: span 5;
      }

      &_8 {
        grid-column: span 8;
      }
    }
  }
}

//patterns layer
.card {
  //  Блок card — карточка для представления информации в компактном формате.
  &_border {
    &_all {
      //todo: check that really 1px
      border: 1px solid var(--block-background-color-border);
    }
  }

  &_view {
    &_default {
      background-color: var(--block-background-color-main);
    }
  }

  &__content {
    &_distribute {
      &_center {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &_vertical-align {
      &_center {
        display: flex;
        align-items: center;
      }
    }

    &_space-a {
      &_m {
        padding: var(--space-m, 18px);
      }

      &_l {
        padding: var(--space-l, 24px);
      }

      &_xl {
        padding: var(--space-xl, 27px);
      }


      &_xxl {
        padding: var(--space-xxl, 36px);
      }

      &_xxxl {
        padding: var(--space-xxxl, 45px);
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;

    &_distribute {
      &_center {
        display: flex;
        justify-content: center;
      }

      &_between {
        display: flex;
        justify-content: space-between;
      }

      &_right {
        display: flex;
        justify-content: right;
      }
    }

    &_vertical-align {
      &_center {
        display: flex;
        align-items: center;
      }

      &_top {
        display: flex;
        align-items: start;
      }

      &_bottom {
        display: flex;
        align-items: end;
      }
    }

    &_space-a {
      &_m {
        padding: var(--space-m, 18px);
      }

      &_l {
        padding: var(--space-l, 24px);
      }

      &_xl {
        padding: var(--space-xl, 27px);
      }


      &_xxl {
        padding: var(--space-xxl, 36px);
      }

    }
  }
}

.form {
  //  Блок form — это визуальное представление веб-формы, которая принимает и отправляет данные пользователя.
  &_border {
    &_all {
      border: 3px solid var(--block-background-color-border);
    }
  }

  &_view {
    &_default {
      background-color: var(--block-background-color-main);
    }
  }

  &__item {
    display: flex;
    flex-shrink: 0;

    &_border {
      &_bottom {
        border-bottom: 3px solid var(--block-background-color-border);
      }
    }

    &_distribute {
      &_between {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
      }
    }

    &_vertical-align {
      &_center {
        display: flex;
        align-items: center;
      }
    }

    &_indent-b {
      &_xxxs {
        margin-bottom: var(--space-xxxs, 3px);
      }

      &_xxs {
        margin-bottom: var(--space-xxs, 6px);
      }

      &_xs {
        margin-bottom: var(--space-xs, 9px);
      }

      &_s {
        margin-bottom: var(--space-s, 15px);
      }

      &_m {
        margin-bottom: var(--space-m, 18px);
      }

      &_l {
        margin-bottom: var(--space-l, 24px);
      }

      &_xl {
        margin-bottom: var(--space-xl, 27px);
      }

      &_xxl {
        margin-bottom: var(--space-xxl, 36px);
      }

      &_xxxl {
        margin-bottom: var(--space-xxxl, 45px);
      }

      &_xxxxl {
        margin-bottom: var(--space-xxxxl, 51px);
      }
    }

    &_space-h {
      &_xxxs {
        padding-left: var(--space-xxxs, 3px);
        padding-right: var(--space-xxxs, 3px);
      }

      &_xxs {
        padding-left: var(--space-xxs, 6px);
        padding-right: var(--space-xxs, 6px);
      }

      &_xs {
        padding-left: var(--space-xs, 9px);
        padding-right: var(--space-xs, 9px);
      }

      &_s {
        padding-left: var(--space-s, 15px);
        padding-right: var(--space-s, 15px);
      }

      &_m {
        padding-left: var(--space-m, 18px);
        padding-right: var(--space-m, 18px);
      }

      &_l {
        padding-left: var(--space-l, 24px);
        padding-right: var(--space-l, 24px);
      }

      &_xl {
        padding-left: var(--space-xl, 27px);
        padding-right: var(--space-xl, 27px);
      }

      &_xxl {
        padding-left: var(--space-xxl, 36px);
        padding-right: var(--space-xxl, 36px);
      }

      &_xxxl {
        padding-left: var(--space-xxxl, 45px);
        padding-right: var(--space-xxxl, 45px);
      }

      &_xxxxl {
        padding-left: var(--space-xxxxl, 51px);
        padding-right: var(--space-xxxxl, 51px);
      }
    }

    &_space-v {
      &_xxxs {
        padding-top: var(--space-xxxs, 3px);
        padding-bottom: var(--space-xxxs, 3px);
      }

      &_xxs {
        padding-top: var(--space-xxs, 6px);
        padding-bottom: var(--space-xxs, 6px);
      }

      &_xs {
        padding-top: var(--space-xs, 9px);
        padding-bottom: var(--space-xs, 9px);
      }

      &_s {
        padding-top: var(--space-s, 15px);
        padding-bottom: var(--space-s, 15px);
      }

      &_m {
        padding-top: var(--space-m, 18px);
        padding-bottom: var(--space-m, 18px);
      }

      &_l {
        padding-top: var(--space-l, 24px);
        padding-bottom: var(--space-l, 24px);
      }

      &_xl {
        padding-top: var(--space-xl, 27px);
        padding-bottom: var(--space-xl, 27px);
      }

      &_xxl {
        padding-top: var(--space-xxl, 36px);
        padding-bottom: var(--space-xxl, 36px);
      }

      &_xxxl {
        padding-top: var(--space-xxxl, 45px);
        padding-bottom: var(--space-xxxl, 45px);
      }

      &_xxxxl {
        padding-top: var(--space-xxxxl, 51px);
        padding-bottom: var(--space-xxxxl, 51px);

        &.form__item_border_bottom {
          border-bottom: none;
        }
      }
    }
  }

  &__label {
    &_width {
      &_default {
        width: 35%;
      }
    }

    &.text {
      margin-bottom: 0;
    }
  }

  &__control {
  }

}

.informer {
  //Информационный блок, имеющий статус. Нужное оформление достигается путём миксования к нему блока
  // темы со статусным значением цветового модификатора (например, theme_color_project-warning).

  &_border {
    &_all {
      border: 3px solid var(--block-background-color-border);
    }
  }

  &_view {
    &_default {
      background-color: var(--block-background-color-main);
    }
  }

  &__content {
    &_distribute {
      &_center {
        display: flex;
        justify-content: center;
      }

      &_between {
        display: flex;
        justify-content: space-between;
      }

      &_default {
        display: flex;
        justify-content: normal;
      }
    }

    &_space-a {
      &_xl {
        padding: var(--space-xl, 27px);
      }


      &_xxl {
        padding: var(--space-xxl, 36px);
      }
    }
  }

  &__action {
    &_distribute {
      &_center {
        display: flex;
        justify-content: center;
      }

      &_between {
        display: flex;
        justify-content: space-between;
      }

      &_default {
        display: flex;
        justify-content: normal;
      }
    }

    &_space-a {
      &_xl {
        padding: var(--space-xl, 27px);
      }


      &_xxl {
        padding: var(--space-xxl, 36px);
      }
    }
  }
}

.list {
  //  list используется для вертикального представления повторяющихся сущностей.
  //  Отлично подходит для отображения истории, контактов, вертикальных меню.
  &_border {
    &_all {
      border: 3px solid var(--block-background-color-border);
    }
  }

  &_view {
    &_default {
      background-color: var(--block-background-color-main);
    }
  }

  &__item {

    &_border {
      &_bottom {
        border-bottom: 3px solid var(--block-background-color-border);
      }

      &_top {
        border-top: 3px solid var(--block-background-color-border);
      }
    }

    &_distribute {
      &_between {
        display: flex;
        justify-content: space-between;
      }
    }

    &_vertical-align {
      &_center {
        display: flex;
        align-items: center;
      }
    }

    &_indent-t {
      &_m {
        margin-top: var(--space-m);
      }
    }

    &_indent-b {
      &_s {
        margin-bottom: var(--space-s, 15px);
      }

      &_m {
        margin-bottom: var(--space-m, 18px);
      }

      &_l {
        margin-bottom: var(--space-l, 24px);
      }

      &_xl {
        margin-bottom: var(--space-xl, 27px);
      }
    }

    &_space-b {
      &_s {
        padding-bottom: var(--space-s, 15px);
      }
    }

    &_space-a {
      &_m {
        padding: var(--space-m, 18px);
      }
    }

  }
}

.icon-plus {
  &_vertical-align {
    &_center {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    &_indent-r {
      &_s {
        margin-right: var(--space-s, 15px);
      }

      &_m {
        margin-right: var(--space-m, 18px);
      }
    }

    &_indent-l {
      &_l {
        margin-left: var(--space-l, 24px);
      }
    }

  }

  &__block {

  }

  //Самый маленький и самый популярный блок pt-icon-plus выравнивает любой графический элемент
  // рядом с контентом.
}

.section {
  //Контейнер для отделения группы блоков.
  &_indent-b {
    &_xxl {
      margin-bottom: var(--space-xxl, 36px);
    }

    &_xxxxl {
      margin-bottom: var(--space-xxxxl, 51px);
    }

  }

  &_space-v {
    &_xxl {
      padding-top: var(--space-xxl, 36px);
      padding-bottom: var(--space-xxl, 36px);
    }

    &_xxxxl {
      padding-top: var(--space-xxxxl, 51px);
      padding-bottom: var(--space-xxxxl, 51px);
    }
  }
}

//Content layer
.text {
  &_align {
    &_center {
      text-align: center;
    }
  }

  &_size {
    &_s {
      min-height: var(--text-height-s);
      --text-word-width-s: 20px;
      --text-word-width-m: 48px;
      --text-word-width-l: 100px;
      --text-word-height: 8px;
    }

    &_m {
      min-height: var(--text-height-m);
      --text-word-width-s: 24px;
      --text-word-width-m: 56px;
      --text-word-width-l: 114px;
      --text-word-height: 10px;
    }

    &_l {
      min-height: var(--text-height-l);
      --text-word-width-s: 28px;
      --text-word-width-m: 68px;
      --text-word-width-l: 138px;
      --text-word-height: 11px;
    }

    &_xl {
      min-height: var(--text-height-xl);
      --text-word-width-s: 32px;
      --text-word-width-m: 74px;
      --text-word-width-l: 154px;
      --text-word-height: 13px;
    }

    &_xxl {
      min-height: var(--text-height-xxl);
      --text-word-width-s: 36px;
      --text-word-width-m: 88px;
      --text-word-width-l: 184px;
      --text-word-height: 16px;
    }
  }

  &_type {
    &_h1 {
      margin: 18px 0 24px;
    }

    &_h2 {
      margin: 45px 0 21px;
    }

    &_h3 {
      margin: 42px 0 0;
    }

    &_p {
      margin: 15px 0 21px;
    }
  }

  &_view {
    &_primary {
      --color: var(--text-color-main);
    }

    &_secondary {
      --color: var(--text-color-secondary);
    }

    &_ghost {
      --color: var(--text-color-additional);
    }

    &_link {
      --color: var(--text-color-link);
    }
  }

  &__word {
    background-color: var(--color);
    height: var(--text-word-height);
    //margin-bottom: var;
    display: inline-block;

    &_width {
      &_s {
        width: var(--text-word-width-s);
      }

      &_m {
        width: var(--text-word-width-m);
      }

      &_l {
        width: var(--text-word-width-l);
      }
    }
  }
}

.avatar {
  background-color: var(--text-color-main);

  &_size {
    &_m {
      width: 60px;
      height: 60px;
    }
  }
}

.brand-logo {
  &_name {
    &_blue {
      background-color: #5dcdf9;
    }

    &_green {
      background-color: #23b324;
    }

    &_red {
      background-color: #ff3333;
    }

    &_purple {
      background-color: #c62cff;
    }
  }

  &_size {
    &_xxs {
      width: 24px;
      height: 24px;
    }

    &_xs {
      width: 32px;
      height: 32px;
    }

    &_s {
      width: 40px;
      height: 40px;
    }

    &_m {
      width: 60px;
      height: 60px;
    }

    &_l {
      width: 80px;
      height: 80px;
    }
  }
}

.placeholder {
  background-color: var(--text-color-main);
  flex-shrink: 0;

  &_size {
    &_m {
      width: 72px;
      height: 72px;
    }
  }

  &_view {
    &_primary {
      background-color: var(--text-color-main);
    }
  }
}

.button {
  background-color: var(--block-background-color-highlighted);

  &_size {
    &_s {
      width: 200px;
      height: 24px;
    }

    &_m {
      width: 200px;
      height: 32px;
    }

    &_l {
      width: 200px;
      height: 42px;
    }

    &_xl {
      width: 200px;
      height: 56px;
    }

    &_xxl {
      width: 200px;
      height: 64px;
    }
  }

  &_width {
    &_full {
      width: 100%;
    }
  }

}

.input {
  border-width: 3px;
  width: 100%;

  &_size {
    &_s {
      height: 24px;
    }

    &_m {
      height: 32px;
    }

    &_l {
      height: 42px;
    }

    &_xl {
      height: 56px;
    }

    &_xxl {
      height: 64px;
    }
  }

}

.image {
  width: 100%;
  border: 3px solid var(--block-background-color-border);
  background-color: var(--block-background-color-main);
  color: var(--text-color-main);
}

.e-accordion {
  background-color: var(--block-background-color-main);
  cursor: pointer;

  &:hover {
    background-color: var(--block-background-color-main-hover);
  }

  &__short {
    display: flex;
    justify-content: space-between;

  }

  &__more {
    transition: all 0.2s linear;
    visibility: hidden;
    opacity: 0;
    height: 0;

    &_state {
      &_open {
        visibility: visible;
        opacity: 1;
        height: 100%;
      }
    }
  }
}

