@import "base";

.payment {
  border-width: 3px;

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    & .form__control {
      border-color: var(--text-color-main);
      border-style: solid;
      flex-grow: 1;
    }

    &.form__item_space-v_xxxl {
      //fix for test, again
      padding-bottom: 18px;
    }
  }
}

.warning {
  min-height: 335px;

  &__content {
    & .placeholder {
      margin: var(--space-m) auto 18px;
    }

    margin-bottom: 8px;
    --text-line-space-xl: 20px
  }
}

.product {
  min-height: 300px;
  border-width: 3px;

  &__title {
    //plus one because does not match with tests((
    margin-bottom: calc(1px + var(--space-xxxl));

  }

  &__footer {
    //same reason(
    padding-bottom: 9px;
  }

  &__image {
    height: 160px;

    --block-background-color-border: var(--block-background-color-border);
  }
}

.history {
  border-width: 3px;

  &__transaction {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__details {
    display: flex;
  }

  &__time {
    margin: auto;
  }

  &__label {

  }

  &__quantity {
    & .text {

    }
  }
}

.cover {
  min-height: 472px;

  &__info {
    --text-line-space-xxl: 17px;
    display: block;
  }

  &__preview {
    height: 180px;
    width: 100%;
    margin-bottom: var(--space-l);
  }

  &__footer {
    width: 100%;

  }
}

.event {
  min-height: 400px;

  &__content {
    flex-direction: column;
  }

  &__preview {
    display: flex;
    margin-bottom: var(--space-xxl);

    & .avatar {
      margin-right: var(--space-xs);
    }
  }

  &__title {
    margin-bottom: 21px;
  }

  &__footer {
    padding-bottom: 40px;
  }
}

.header {
  margin: var(--space-xxxl) var(--gap);
  max-width: 1280px;

  background-color: var(--block-background-color-main);
  border-color: var(--block-background-color-border);
  margin-left: auto;
  margin-right: auto;

  &__logo {
    width: 179px;
    height: 34px;
    background-color: var(--text-color-main);
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
}

.onoffswitch {
  --switch-color: var(--text-color-main);
  width: 97px;
  height: 32px;
  border: 2px solid var(--switch-color);

  display: flex;
  align-items: center;
  padding: 0 2px;

  //@extend .theme_color_project-inverse;

  cursor: pointer;

  &__button {
    width: 24px;
    height: 24px;
    background-color: var(--switch-color);
    transition: margin-left 0.5s;
    margin-left: 0;
  }

  &_checked {
    & .onoffswitch__button {
      //calc because transition doesn't work with auto
      margin-left: calc(100% - 25px);
      //@extend .theme_color_project-default;
    }
  }

}

.footer {
  background-color: var(--block-background-color-main);
  border-color: var(--block-background-color-border);
  margin: var(--space-xxxl) auto var(--gap);
  max-width: 1280px;

  &__content {
    display: flex;
    justify-content: space-between;

    & .text {

    }
  }
}

.page {
  background-color: var(--block-background-color-main);
}
