@import "base";

.payment {
  border-width: 3px;

  &__header {
  }

  &__content {
    padding-bottom: 16px;

    & .form__control {
      border-color: var(--text-color-main);
      border-style: solid;
    }
  }

  &__footer {
    & .form__control {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.warning {
  min-height: 335px;

  &__content {
    --text-line-space-xl: 20px;
    margin-bottom: var(--space-xs);
  }

  & .text {
    flex-basis: 100%;
  }

  & .placeholder {
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
  }

  &__button-wrapper {
    //padding-top: var(--space-xxl);
  }
}

.product {
  min-height: 300px;
  border-width: 3px;

  &__title {
    margin-bottom: var(--space-xxxl);
    margin-top: 4px;
  }

  &__footer {
    padding-bottom: var(--space-xs);
  }

  &__image {
    height: 160px;
    width: 100%;
    --block-background-color-border: var(--block-background-color-border);
  }
}

.history {
  border-width: 3px;

  &__transaction {
    //padding-top: 0;
    //padding-bottom: 0;
  }

  &__details {
    display: flex;
    flex-grow: 1;
  }

  &__time {
    //margin: auto;
    padding: 12px 0;

    & .text__word {
      margin: 0;
    }
  }

  &__label {
  }

  &__quantity {
    & .text {
    }
  }
}

.cover {
  min-height: 472px;

  &__info {
    display: block;
  }

  &__preview {
    height: 180px;
    margin-bottom: var(--space-l);
  }

  & .text {
  }

  &__footer {
  }
}

.event {
  min-height: 400px;

  &__content {

  }

  &__description {
    --text-line-space-l: 17px;
  }

  &__preview {
    display: flex;
    margin-bottom: var(--space-xxl);
    flex-basis: 100%;
    justify-content: center;
    //  todo: or calc(space xxl - space s?

    & .avatar {
      margin-right: var(--space-xs);
    }
  }

  &__title {
    margin-bottom: var(--space-m);
  }

  &__footer {
    --text-line-space-xl: 25px;
  }
}

.header {
  margin: var(--space-xxxl) var(--gap, 0);
  //background-color: var(--block-background-color-main);
  //border-color: var(--block-background-color-border);

  &__logo {
    width: 179px;
    height: 34px;
    background-color: var(--text-color-main);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.onoffswitch {
  --switch-color: var(--text-color-main);
  width: 97px;
  height: 32px;
  border: 2px solid var(--switch-color);
  padding: 3px 1px;
  cursor: pointer;

  &__button {
    width: 24px;
    height: 24px;
    background-color: var(--switch-color);
    transition: margin-left 0.5s;
    margin-left: 0;
  }

  &_checked {
    & .onoffswitch__button {
      //calc because transition doesn't work with auto
      margin-left: calc(100% - 25px);
    }
  }

}

.footer {
  background-color: var(--block-background-color-main);
  border-color: var(--block-background-color-border);
  margin: var(--space-xxxl) var(--gap, 0);

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;

    & .text {
    }
  }
}

.page {
  background-color: var(--block-background-color-main);
}
